

body{
	width: 100%;
	position: relative;
	background:#fff;
	height: 100%;
}

header,article,footer{
	width: 100%;
	position: relative;
	text-align: center;
}

article{
	height: 100%;
	overflow: auto;
}

.logo{
	width: 42%;
	display: inline-block;
	margin: 2.6em 0;
}

.container{
	width: 90%;
	display: inline-block;
	color: #1a1b1b;
	padding: 0 0 5em 0;
}

.info,.info ul,.info li{
	width: 100%;
	display: inline-block;
}

.info{
	padding: 0 0 2em 0;
	width: 100%;
	display: inline-block;
}

.info h1{
	font-size: 2.2em;
	padding: 0 0 6px 0;
}

.info li{
	padding: 12px 0 0 0;
	line-height: 18px;
}

.info li span,.info li p{
	float: left;
	display: inline-block;
}

.info li p{
	width: 100%;
	text-align: center;
	font-size: 14px;
	padding: 6px 0;
}

.info li p a{
	color: #1a1b1b;
}

.info li span{
	padding: 0 3px 0 0;
	font-weight: bold;
	width: 100%;
	font-size: 18px;
}


.guideInfo{
	line-height: 18px;
	width: 100%;
	text-align: center;
	padding: 30px 0 0 0;
}


footer{
	position: absolute;
	left: 0;
	bottom: 0;
	background: url("/vstyle/imgs/footer_bg.jpg") repeat-x;
}

footer .con{
	width: 90%;
	text-align: left;
	position: absolute;
	left: 5%;
	top: 36%;
	z-index: 2;
}

footer .con em{
	width: 50%;
	float: left;
	display: inline-block;
	color: #fff;
}

footer .con a{
	width: 50%;
	float: right;
	display: inline-block;
	color: #fff;
	text-align: right;
}

footer .con a img{
	width: 10%;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: middle;
}

.opacity{
	opacity: 0;
}

.b_type{
	width: 90%;
	display: inline-block;
	margin: 16px 0;
}






